@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Johannes, ich habe es geschafft</h1>
    <p class="lead">Endlich die erste Website</p>
 <body> 
      background-color: #1c87c9;
 </body>

</div>

